@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

body {
  background-image: url(https://cdn.discordapp.com/attachments/980363098923864067/1023218089413853294/background_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100% 100%;

}

h2 {
    font-family: 'Prompt', sans-serif;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
}

h1 {
  font-family: 'Cedarville Cursive';
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
}

.imgMain {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
}

.home .content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-top: 14rem;
  padding-bottom: 8rem;
  text-align: center;
}

.home .content button{
  height:4rem;
  width:15rem;
  border-radius: 5rem;
  background: #000;
  color:#fff;
  font-size: 2rem;
  cursor: pointer;
  transition: .2s;
  border:none;
  box-shadow: 0 .3rem 1rem rgba(0,0,0,.3);
 
}

.home .content button:hover{
  letter-spacing: .2rem;
}

.home .content p {
  font-family: 'Prompt', sans-serif;
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}







@media (max-width:768px){

  html{
    font-size: 55%;
  }
  
  .home::before{
    display: none;
  }


}